
@{
    ViewBag.Title = "List Users";
    Layout = "~/Views/share/_LayoutPageHome.cshtml";
}

<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="title pb-20">
            <h2 class="h3 mb-0">List User</h2>
        </div>       

        <div class="card-box pb-10">
            <div class="h5 pd-20 mb-0">Recent Patient</div>
            <table class="data-table table nowrap">
                <thead>
                    <tr>
                        <th class="table-plus">Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Registration Date</th>
                        <th class="datatable-nosort">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-plus">
                            <div class="name-avatar d-flex align-items-center">
                                <div class="avatar mr-2 flex-shrink-0">
                                    <img src="~/assets/vendors/images/photo4.jpg"
                                         class="border-radius-100 shadow"
                                         width="40"
                                         height="40"
                                         alt="" />
                                </div>
                                <div class="txt">
                                    <div class="weight-600">Jennifer O. Oster</div>
                                </div>
                            </div>
                        </td>
                        <td>Jenniferoster</td>
                        <td>Jenniferoster@gmail.com</td>
                        <td>19 Oct 2020</td>                        
                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw-delete-3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <div class="name-avatar d-flex align-items-center">
                                <div class="avatar mr-2 flex-shrink-0">
                                    <img src="~/assets/vendors/images/photo5.jpg"
                                         class="border-radius-100 shadow"
                                         width="40"
                                         height="40"
                                         alt="" />
                                </div>
                                <div class="txt">
                                    <div class="weight-600">Doris L. Larson</div>
                                </div>
                            </div>
                        </td>
                        <td>Dorislarson</td>
                        <td>Dorislarson@gmail.com</td>
                        <td>22 Jul 2020</td>
                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw-delete-3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <div class="name-avatar d-flex align-items-center">
                                <div class="avatar mr-2 flex-shrink-0">
                                    <img src="~/assets/vendors/images/photo6.jpg"
                                         class="border-radius-100 shadow"
                                         width="40"
                                         height="40"
                                         alt="" />
                                </div>
                                <div class="txt">
                                    <div class="weight-600">Joseph Powell</div>
                                </div>
                            </div>
                        </td>
                        <td>Josephpowell</td>
                        <td>Josephpowell@gmail.com</td>
                        <td>15 Nov 2020</td>
                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw-delete-3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <div class="name-avatar d-flex align-items-center">
                                <div class="avatar mr-2 flex-shrink-0">
                                    <img src="~/assets/vendors/images/photo9.jpg"
                                         class="border-radius-100 shadow"
                                         width="40"
                                         height="40"
                                         alt="" />
                                </div>
                                <div class="txt">
                                    <div class="weight-600">Jake Springer</div>
                                </div>
                            </div>
                        </td>
                        <td>JakeSpringer</td>
                        <td>JakeSpringer@gmail.com</td>
                        <td>08 Oct 2020</td>
                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw-delete-3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <div class="name-avatar d-flex align-items-center">
                                <div class="avatar mr-2 flex-shrink-0">
                                    <img src="~/assets/vendors/images/photo1.jpg"
                                         class="border-radius-100 shadow"
                                         width="40"
                                         height="40"
                                         alt="" />
                                </div>
                                <div class="txt">
                                    <div class="weight-600">Paul Buckland</div>
                                </div>
                            </div>
                        </td>
                        <td>Paulbuckland</td>
                        <td>Paulbuckland@gmail.com</td>
                        <td>12 Dec 2020</td>
                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw-delete-3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <div class="name-avatar d-flex align-items-center">
                                <div class="avatar mr-2 flex-shrink-0">
                                    <img src="~/assets/vendors/images/photo2.jpg"
                                         class="border-radius-100 shadow"
                                         width="40"
                                         height="40"
                                         alt="" />
                                </div>
                                <div class="txt">
                                    <div class="weight-600">Neil Arnold</div>
                                </div>
                            </div>
                        </td>
                        <td>Neilarnold</td>
                        <td>Neilarnold@gmail.com</td>
                        <td>30 Oct 2020</td>
                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw-delete-3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <div class="name-avatar d-flex align-items-center">
                                <div class="avatar mr-2 flex-shrink-0">
                                    <img src="~/assets/vendors/images/photo8.jpg"
                                         class="border-radius-100 shadow"
                                         width="40"
                                         height="40"
                                         alt="" />
                                </div>
                                <div class="txt">
                                    <div class="weight-600">Christian Dyer</div>
                                </div>
                            </div>
                        </td>
                        <td>Christiandyer</td>
                        <td>Christiandyer@gmail.com</td>
                        <td>15 Jun 2020</td>
                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw-delete-3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <div class="name-avatar d-flex align-items-center">
                                <div class="avatar mr-2 flex-shrink-0">
                                    <img src="~/assets/vendors/images/photo1.jpg"
                                         class="border-radius-100 shadow"
                                         width="40"
                                         height="40"
                                         alt="" />
                                </div>
                                <div class="txt">
                                    <div class="weight-600">Doris L. Larson</div>
                                </div>
                            </div>
                        </td>
                        <td>Dorislarson</td>
                        <td>Dorislarson@gmail.com</td>
                        <td>22 Jul 2020</td>
                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw-delete-3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="footer-wrap pd-20 mb-20 card-box">
            TIỂU LUẬN MÔN LẬP TRÌNH MẠNG
        </div>
    </div>
</div>