
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/share/_LayoutPageHome.cshtml";
}

<div class="main-container">
        <div class="xs-pd-20-10 pd-ltr-20">
            <div class="title pb-20">
                <h2 class="h3 mb-0">Introdution</h2>
            </div>
           
            <div class="card-box pb-10">
                <div class="h5 pd-20 mb-0">Welcom to the Website</div>
           
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                TIỂU LUẬN MÔN LẬP TRÌNH MẠNG
            </div>
        </div>
    </div>